@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('./assesets/fonts/atkinsonhyperlegible-regular-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Bookerly';
  src: url('./assesets/fonts/bookerly-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Lexend';
  src: url('./assesets/fonts/lexend-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  src: url('./assesets/fonts/merriweather-regular-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  src: url('./assesets/fonts/rubik-regular-webfont.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --background-color: #f1f1f1;
  --menu-color: #f1f1f1;
  --menu-background: url('./assesets/lightBranch.png');
  --sub-menu-color: #aab5bd;
  --text-color: #000000;
  --ternary-color: #cfd2d7;
  --mark-color: #839aa0;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background-color: #1b1b1b;
    --menu-color: #1b1b1b;
    --menu-background: url('./assesets/darkBranch.png');
    --sub-menu-color: #37393d;
    --text-color: #f1f1f1f1;
    --ternary-color: #505b62;
    --mark-color: #a9cec2;
  }
}

:root.dark {
  --background-color: #1b1b1b;
  --menu-color: #1b1b1b;
  --menu-background: url('./assesets/darkBranch.png');
  --sub-menu-color: #37393d;
  --text-color: #f1f1f1;
  --ternary-color: #505b62;
  --mark-color: #a9cec2;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* chrome scrollbar */
  .slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 5px solid var(--sub-menu-color);
    background: var(--text-color);
    box-shadow: -101vw 0 0 100vw var(--menu-color);
  }

  /* start format the awesome scrollbar chrome uses */

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /* end format the awesome scrollbar chrome uses */

  /* firefox scrollbar */
  .slider::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 5px solid var(--sub-menu-color);
    background: var(--text-color); /*< head color */
    box-shadow: -101vw 0 0 100vw var(--menu-color);
  }

  mark {
    background: var(--mark-color);
  }
}
